<div class="container-fluid">
  <div class="row">
    <div class="register-background col-md-6">
        <img class="logo-image" src="https://brand-fuel.de/wp-content/uploads/2017/07/logo1.png">
        <h2 class="gradient-text">Sure, everbody buys E-Bokks but actually no one reads them. Get your
        Handcrafted Premium Articles and use your time more wisely.</h2>
        <ul class="gradient-list">
          <li class="gradient-list-tag"><i class="fa fa-clock-o"></i><span> Save More Time</span></li>
          <li class="gradient-list-tag"><i class="fa fa-info-circle"></i><span> Get Your Infos Quick</span></li>
          <li class="gradient-list-tag"><i class="fa fa-comment"></i><span> Only Articles From Top Sources</span></li>
          <li class="gradient-list-tag"><i class="fa fa-edit"></i><span> No Spun Articles or Any Artificial Articles</span></li>
          <li class="gradient-list-tag"><i class="fa fa-coffee"></i><span> Enjoy To Read Articles in The Intranet Again!</span></li>
        </ul>
        <img class="bg-image" src="https://brand-fuel.de/wp-content/uploads/2017/07/hands.png">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="register-sign-up col-md-offset-6">
      <div class="well">
        <% if params[:plan] == '2' %>
        <h2 class="form-sign-up text-center">Pro Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="field form-group">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Adress' %>
          </div>
          <div class="field form-group">
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
            <em> (<%= @minimum_password_length %> characters minimum)</em>
          </div>
          <div class="field form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
          </div>
          <div class="actions form-group">
            <%= f.submit "Sign up", class: 'btn btn-success' %>
          </div>
          <% end %>
        <% else %>
         <h2 class="form-sign-up text-center">Basic Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="field form-group">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Adress' %>
          </div>
          <div class="field form-group">
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
            <em> (<%= @minimum_password_length %> characters minimum)</em>
          </div>
          <div class="field form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
          </div>
          <div class="actions form-group">
            <%= f.submit "Sign up", class: 'btn btn-success' %>
          </div>
          <% end %>
        <% end %>
        <div class="text-center">
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>