<!DOCTYPE html>
<html>
  <head>
    <title>Amazable.io - Handcrafted Quality Articles</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,700|Lobster" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="https://brand-fuel.de/wp-content/uploads/2017/07/logo-klein.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
    <div class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default navbar-btn" %>
      <% end %>
</div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to root_path do %>
          <i class="fa fa-home"></i> Home
          <% end %>
        </li>
         <li><%= link_to about_path do %>
           <i class="fa fa-user"></i> About Me
           <% end %>
         </li>
         <li><%= link_to new_contact_path do %>
           <i class="fa fa-envelope"></i> Contact Us
           <% end %>
         </li>
      </ul>
    </div>
  </div>
</nav>

      <%= yield %>
  </body>
</html>
